@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&family=Merriweather:wght@700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f2f0;
  color: #333333;
  font-family: "Karma", serif;
  /* overflow-y: hidden; */
}

.container {
  display: flex;
  gap: 2rem;
}

.lady{
  /* width: 42rem; */
  max-width: 100%;
}

.image-group {
  height: 101vh;
  max-width: 110%;
}

.logo {
  height: 40px;
  position: absolute;
  top: 40px;
  left: 70px;
}

.right-container {
  max-width: 100%;
  margin-left: 6%;
}

header {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-left: 6%;
}

nav ul {
  width: 100%;
  display: flex;
  margin: 40px 1rem;
  justify-content: space-between;
  margin-right: 3rem;
}

header ul > li:first-child{
  font-weight: 800;
  font-size: 1.2rem;
}

header ul > li{
  font-weight: normal;
  font-size: 1.2rem;
}
.two-containerr > img{
  height: 9rem;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header .line {
  background-color: #333333;
  height: 2px;
  width: 400px;
}

nav {
  margin-left: 40px;
}


nav li {
  list-style: none;
  font-weight: 400;
  font-size: 1em;
}

.title-container {
  display: flex;
  margin-left: 6%;
}

.title-container h1 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 6em;
  line-height: 1em;
}

.title-container .stroke {
  -webkit-text-fill-color: #f5f2f0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #333333;
}

.title-container .filled {
  margin-left: 100px;
}

.package {
  padding: 0 60px;
}

.sub-title {
  display: inline-block;
  margin-top: 80px;
  font-weight: 700;
  font-size: 2.5em;
  opacity: 0.6;
}

.btn-package {
  margin-top: 20px;
  padding: 0.5em 3em;
  font-size: 1.1em;
  font-family: inherit;
  font-weight: 600;
  background-color: #333333;
  color: #f5f2f0;
  border: none;
}

.socials {
  position: absolute;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  top: 120px;
  right: 40px;
  margin-left: 1%;
}

.featured-container {
  display: flex;
  margin-top: 60px;
  margin-left: 6%;
  flex-direction: row;
}

.list-line {
  margin-top: 37px;
  height: 172px;
  width: 2px;
  background-color: #333333;
  opacity: 0.3;
  position: absolute;
  margin-left: -2px;
}

.list-items {
  margin-top: 10px;
  margin-left: 7px;
  
}


.list-items li {
  position: relative;
  list-style: none;
  margin: 20px;
  font-weight: 600;
  opacity: 0.6;
}

.list-items li:nth-child(1) {
  opacity: 1;
}

.list-items li::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 5px;
  background-color: #333333;
  margin-left: -33px;
}

.featured-image {
  padding-left: 40px;
}

.featured-text {
  max-width: 400px;
  color: black;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.quote::before {
  content: open-quote;
  visibility: hidden;
}
.quote::after {
  content: close-quote;
  display: block;
  font-size: 10em;
  line-height: 0;
  margin-top: 40px;
  margin-bottom: -25px;
}

[alt="arrow"] {
  transform: rotate(90deg);
  margin-top: 102px;
  height: 135px;
  object-fit: none;
  width: 9rem;
 
}

[alt="footer-img"]
{
  width: 400px;
  height: 9rem;
}

.footer_images{
  margin-top: -6rem;
}

@media screen and (max-width: 1444px)
{
  .right-container{
    margin-left: 0% !important;
  }
} 


 @media screen and (max-width: 527px)  {
  .title-container{
    display: flex;
    flex-direction: column;
  }

  .sub-title{
    margin-right: 10%;
  }

  .package{
    margin-left: 48% !important;
  }

  .btn-package{
    white-space: unset !important;
  }
  
  
}

@media screen and (max-width: 765px) {
  .title-container{
    display: flex;
    flex-direction: column;
  }

  .sub-title{
    margin-right: 10%;
  }

  .package{
    margin-left: 68%;
  }

  .btn-package{
    white-space: nowrap;
  }
}


@media screen and (max-width: 1044px)  {
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  body{
    overflow-x: hidden;
  }
  
  .image-group{
  max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .right-container{
    margin-left: 13%;
    margin-right: 10%;
  }
  
  .title-container{
    width: 50%;
  }

  header{
    display: none;
  }

  .socials{
    position: relative;
  }
  .socials {
    display: flex;
    gap: 2em;
    flex-direction: row;
    align-items: center;
    top: 14rem;
    right: 10%;
    left:  25%;
    justify-content: center;
  }

  .featured-container {
    flex-direction: column;
  }

  .featured-image{
    padding-top: 3rem;
    margin-left: -28px;
  }

  [alt="footer-img"] {
    width: 600px;
    height: 14rem;
}

.featured-text {
  max-width: 600px;
  color: black;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.footer_images{
  margin-top: 1%;
  display: flex;
  margin-right: 1%;
  margin-left: 1%;
}
  
}


